<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="../public/assets/nepalico.png" />
		<meta property="og:title" content="Nepal's first Location API" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="../public/assets/nep.jpg" />
		<meta
			property="og:description"
			content="Nepal location Api from where u can get DATA like district name , province , area code, headquarter, population, latitude , longitude , area of all district of nepal !!"
		/>
		<meta property="og:url" content="https://nepallocation.herokuapp.com/" />
		<title>Nepal's  Location API</title>
		<script src="../../public/app/main.js" defer></script>
		<link rel="stylesheet" href="../public/styles/main.css" />
	</head>
	<body>

