<div class="btns">
	<a class="nav-btns" id="" href="/">Home</a>
	<a class="nav-btns" id="docs" href="/docs">Docs</a>
	<a class="nav-btns" id="iapi" href="/iapi">Api</a>
	<a class="nav-btns" id="province" href="/province">Province</a>
	<a class="nav-btns" id="district" href="/district">District</a>
	<a class="nav-btns" id="navigator" href="/navigator">navigator</a>
	<a class="nav-btns" id="onlydistrict" href="/onlydistrict">only District</a>
</div>
