<%- include('./inc/header'); -%>

<img src="../public/assets/npe.png" alt="" />
<div class="not">
	<h1>
		Nepal's  First G-Location API
	</h1>

	The requested URL can't be found in our server go back to API -
	<a href="/api">API</a>
	<a href="/">Home</a>

</div>
<%- include('./inc/footer'); -%>
