<%- include('./inc/header'); -%>
<!-- Directory access is forbidden. -->
<!-- created by neeschal member of neeswebservices  -->
<img draggable="false" src="../public/assets/npe.png" width="20%" alt="" />
<div class="main">
	<h1>- Nepal's First G-Location API - Updated</h1>
		<span>Feature of our API </span>
		<ul>
			<li>Very Simple and easy to Implement </li>
			<li>Free to Use</li>
			<li>Accurate Data</li>
			<li>Much good and Cleaner data </li>
		</ul>
		<span>
			What can you create using this API ? <a style="background-color: crimson; " href="https://www.youtube.com/watch?v=60jy8wfUivc&t=1194s&ab_channel=NeesWebServices" target="_blank">Watch This Video</a>
			<a href="http://neesnepalapi.eu5.net/" target="_blank">AQI Index of Nepal</a>
		</span>
	<h2 class="bttns">
		<a href="https://github.com/neeswebservices/nepalAirIndex" target="_blank"
			>GITHUB</a
		>
		<a href="https://neeswebservices.netlify.app" target="_blank">
			PORTFOLIO
		</a>
		<a href="./api" target="_blank">LIVE API</a>
		<a href="./docs">DOCS</a>
	</h2>

</div>

